{{ form_start(form) }}
<div class="form-group mt-3">{{ form_row(form.nom) }}</div>
    {{ form_widget(form) }}
<div class="text-right mt-5">
    <a href="{{ absolute_url(path('assurance_index'))}}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
</div>

{{ form_end(form) }}
