{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1 class="h3 mb-2 text-gray-800">Gestion des utilisateurs</h1>
    <p class="my-4"></p>
    <div class="card shadow mb-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-md-8">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Username</th>
                                <th>Roles</th>
                                <th>Connexion</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>
                                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ user.username }}</a>
                                    </td>
                                    <td></td>
                                    <td class="text-center">{{ user.loginCount }}</td>
                                    <td class="text-center">{{ user.lastConnectedAt|date('Y-m-d H:i:s') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Enregistrement</h6>
                </div>
                <div class="card-body">
                    {{ include('admin_user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
