{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Liste des versements  {{ render(url('app_date')) }}{% endblock %}

{% block body %}
    <h1 class="h3 mb-2 text-gray-800">Gestion des versements</h1>
    <p class="my-4"></p>
    <div class="card shadow mb-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Liste</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Dates</th>
                                <th>Clients</th>
                                <th>References</th>
                                <th>Montant</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for versement in versements %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ versement.date }}</td>
                                    <td>{{ versement.facture.client.nom }} {{ versement.facture.client.prenoms }}</td>
                                    <td class="text-center">{{ versement.reference }}</td>
                                    <td class="text-right pr-3">{{ versement.acompte|number_format(0,'', ' ') }}</td>
                                    <td class="text-center">
                                        <a href="#" title="Impimer">
                                            <i class="fas fa-print"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/vendor/datatables/datatables.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/vendor/datatables/datatables.min.js')) }}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable').DataTable({
                "language": {
                    "lengthMenu": "Affichage _MENU_ par page",
                    "zeroRecords": "Aucun enregistrement",
                    "infoEmpty": "Aucun enregistrement disponible",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        } );
    </script>
{% endblock %}
